<h1>Current Catagories:</h1>
  <% @category.map do |m| %>
    <h2 class= 'cata'> <%= m.name %> </h2>
  <%end%>

 

 <%= form_for :category, html: {:class => 'newcata'} do |f| %>
  name: <%= f.text_field :name %><br />
 
  <%= f.submit %>
<% end %>
