<section class="categories-show">

  <header class="page-header">
    <h1>
        <% @products.map do |m| %>
        <h1> <%= m.name %> </h1>
        <%end%>
      
   
    </h1>
  </header>


</section>
